In [1]:
import os
import re
import ast
import pandas as pd
from collections import Counter
from typing import List
from huggingface_hub import Repository

/opt/conda/envs/back/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def str2list(data: pd.DataFrame, columns: list) -> None:
    for col in columns:
        data[col] = data[col].apply(lambda x: ast.literal_eval(x))

In [3]:
HUB_PATH = '../../hub/'
CSV_PATH = os.path.join(HUB_PATH, "CsvFiles")

In [4]:
user_genre = ["댄스","POP", "락"]
id_list = [12731, 12734, 12762, 12762, 12934, 12982, 13051, 13065, 13128]
sim_list = [0.3,0.243,0.1243, 0.45,0.23,0.11,0.67,0.54,0.32]

In [5]:
csv_files = os.listdir(CSV_PATH)
csv_files = [file for file in csv_files if ".csv" in file]
for file in csv_files:
    if "playlists" in file:
        playlist = pd.read_csv(os.path.join(CSV_PATH, file))
    elif "songs_detail" in file:
        song_detail = pd.read_csv(os.path.join(CSV_PATH, file))
    elif "songs_v" in file:
        songs = pd.read_csv(os.path.join(CSV_PATH, file))
    elif "genre" in file:
        new_genre = pd.read_csv(os.path.join(CSV_PATH, file))
    else:
        raise Exception(f"Wrong File {file} is detected !!!")

FileNotFoundError: [Errno 2] No such file or directory: '../../hub/CsvFiles'

In [104]:
songs = songs.dropna().reset_index(drop = True)

In [105]:
song_detail = song_detail.dropna().reset_index(drop = True).drop('Unnamed: 0', axis = 1)

In [111]:
song_detail.SONG_ID = song_detail.SONG_ID.apply(lambda x : int(x))

In [112]:
song_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145078 entries, 0 to 145077
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SONG_ID       145078 non-null  int64
 1   LISTENER_CNT  145078 non-null  float64
 2   INFO_GENRE    145078 non-null  object
 3   PLAY_CNT      145078 non-null  float64
 4   SONG_LIKE     145078 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 5.5+ MB

In [113]:
songs.to_csv("songs_v7_0726.csv", index = False)

In [114]:
song_detail.to_csv("songs_detail_0726.csv", index = False)

In [92]:
song_detail[]

           SONG_ID  LISTENER_CNT  INFO_GENRE  PLAY_CNT  SONG_LIKE
0       16523145.0       18519.0     POP / 락  177694.0      162.0
1       43329099.0       25762.0     POP / 락  110713.0      166.0
2       80738848.0       81872.0     POP / 락  693751.0     1047.0
3       16514268.0       11198.0     POP / 락   46580.0      148.0
4       16561159.0        5106.0     POP / 락   15960.0       29.0
...            ...           ...         ...       ...        ...
145073  87731595.0       23531.0  OST / 해외영화  115632.0      235.0
145074  16491504.0        7449.0     POP / 락   67363.0      266.0
145075  95828542.0       23418.0   J-POP / 팝   92360.0      141.0
145076  94018085.0       58755.0     POP / 팝  338836.0      328.0
145077  86867115.0       22066.0    OST / 전체   94359.0      107.0

[145078 rows x 5 columns]

In [30]:
tmp.append(new_genre[new_genre.info_genre=="가요 / 전체"].genre.values)

In [31]:
tmp[0]

array(['가요 '], dtype=object)

In [36]:
def count_tag_types( df: pd.DataFrame) -> None:
        tag_list = ['sit', 'mood', 'weather']
        for tag in tag_list:
            df[f"tag_{tag}_cnt"] = df[f"tag_{tag}_cnt"].apply(lambda x: min(x, 1))

        df["tag_cnt"] = df.tag_sit_cnt + df.tag_mood_cnt + df.tag_weather_cnt

In [37]:
count_tag_types(playlist)

In [102]:
def process_df(df_list : List[pd.DataFrame]):
    for df in df_list:
        df = df.dropna()
        df.columns = [col.lower() for col in df.columns]
        id_cols = df.columns[['id' in col for col in df.columns]]
    # 아이디타입 바꾸기
        for id in id_cols:
            print(id)
            df.loc[:, id] = df[id].apply(lambda x: str(int(x)))
    return df_list

In [103]:
playlist, song_detail, songs, new_genre = process_df([playlist, song_detail, songs, new_genre])

playlist_id
song_id
song_id
artist_id
album_id

In [104]:
songs

,IMG_PATH,SONG_TITLE,SONG_ID,ARTIST_NAME,ARTIST_ID,ALBUM_TITLE,ALBUM_ID,RELEASE_DATE
0,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/01...,To Hell with the Devil (Album Ver.),16523145,Stryper,14941997,To Hell With The Devil,15054519,1986-01-01
1,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/04...,Home Sweet Home,43329099,Motley Crue,14941104,Theatre Of Pain,42561522,1985-06-21
2,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,Livin' On A Prayer,80738848,Bon Jovi,14941051,Slippery When Wet : Special Edition,80144018,2010-05-25
3,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,You Give Love A Bad Name,80738847,Bon Jovi,14941051,Slippery When Wet : Special Edition,80144018,2010-05-25
4,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,Wanted Dead Or Alive,80738850,Bon Jovi,14941051,Slippery When Wet : Special Edition,80144018,2010-05-25
...,...,...,...,...,...,...,...,...
144640,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,풍차 (Windmill),88128339,밴드 88,80566461,풍차 (Windmill),81087398,2018-07-25
144641,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,이 노래가,88114669,도재명 & 이선지,80643032,A True Travel,81085131,2018-07-18
144642,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,여름 이별,88061801,biskit!,80593734,여름 이별,81077393,2018-06-26
144643,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,Love Is Something,88075330,조완,80613003,Love Is Something,81079028,2018-06-29
144644,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,우연,88007728,고래와 정민,80575967,2 (EP),81068884,2018-05-31

In [51]:
id_cols = song_detail.columns[['id' in col for col in song_detail.columns]]

In [45]:
str2list(playlist, ["playlist_songs"])

In [ ]:
def

In [46]:
playlist

,playlist_id,playlist_title,playlist_subtitle,num_of_songs,playlist_songs,playlist_view,playlist_tags,playlist_img_url,playlist_likecount,tag_weather,tag_sit,tag_mood,tag_sit_cnt,tag_mood_cnt,tag_weather_cnt,tag_cnt
0,15541,촉촉히 내리는 비를 보면 나는 슬퍼져,장마철 비를 보며 쓸쓸한 감성에 젖게 만드는 재즈 모음,19,"[102029432, 102131920, 101410050, 91341224, 94...",8526,"['레이블 PICK', '유니버설뮤직', '재즈', '카페', '산책', '슬픔',...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,17,['우중충한날'],"['산책', '여유']","['슬픔', '편안한', '사랑']",2,3,1,6
1,15547,바쁜 일상 속 잠깐의 여유,바쁜 일상 속 여유가 필요해 바쁜 일상 속 여유를 느끼고 싶은 순간 마음을 편안하게...,20,"[16108014, 16160262, 16108012, 16108017, 88413...",7620,"['레이블 PICK', '지니뮤직', '뉴에이지', '클래식', '휴식', '일/공...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,21,[],"['집중', '여유']",['편안한'],2,1,0,3
2,15549,장마철 물멍하며 듣기 좋은 연주곡 모음,장마철 멍하니 창문 밖을 바라보며 듣기 좋은 연주곡을 모았습니다,20,"[101110530, 102239234, 102128825, 93605185, 98...",10348,"['레이블 PICK', '유니버설뮤직', '클래식', 'OST', '휴식', '카페...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,35,['우중충한날'],['여유'],[],1,0,1,2
3,15552,비 내리는 브루클린 어느 카페에서 흘러나오는 감성팝,추적추적 내리는 비를 피해 우연히 들른 카페에서 들려올 것 같은 음악들입니다 비에...,15,"[95043993, 89126759, 90384403, 92423790, 91177...",282207,"['Travellist', 'DJ 157', 'POP', '카페', '저녁', '편...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,77,['우중충한날'],"['저녁', '여유']",['편안한'],2,1,1,4
4,15554,비 내리는 어느 여름 날 감성에 젖은 채,그날그날 기분에 따라 듣고 싶은 음악이 다른데 오늘은 빗소리를 들으며 나를 위한 힐...,15,"[87371251, 98719953, 92579798, 87619475, 97822...",275727,"['일상 로그', 'DJ 노찌', 'POP', '휴식', '집', '카페', '기분...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,126,"['우중충한날', '여름']",['여유'],"['밝은', '편안한']",1,2,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5426,15527,저녁에 동네 산책 한 바퀴 돌고올까,초여름의 저녁 730pm 즈음 해가 지기 시작해요 길을 나설 때는 하늘색 푸른색 밝...,15,"[80596220, 102010440, 90672377, 97004799, 8161...",8752,"['일상 로그', 'DJ 지니', '가요', '인디', '산책', '거리', '기분...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,33,['봄'],"['저녁', '산책']","['밝은', '편안한']",2,2,1,5
5427,15533,집중력 업 시켜주는 클래식,집중력이 필요할 때 듣기 좋은 클래식 곡들을 모아봤습니다,20,"[102239234, 102241037, 101918716, 101921487, 1...",863,"['레이블 PICK', '클래식덕후', '클래식', '일/공부', '집중', '오후...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,5,[],"['집중', '밤', '오후', '여유']",['편안한'],4,1,0,5
5428,15535,여름밤의 은은한 무드를 담은 팝,오렌지빛 무드등 아래 나른하게 듣는 플리,15,"[100172028, 100549157, 87490055, 102202041, 99...",45710,"['오늘의선곡', 'DJ 삐삐', 'R&B/소울', '휴식', '집', '설렘', ...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,104,['여름'],"['밤', '여유']","['밝은', '사랑']",2,2,1,5
5429,15537,이 플리 듣는 순간 내적 파워 워킹 시작,오늘 나 좀 멋진 거 같은데 이 플리 틀자마자 쎈 언니 빙의해서 파워 워킹 시작,16,"[102132076, 89797104, 97970302, 94548650, 5811...",1790,"['지금 내 마음은', 'DJ 지니', 'POP', '출/퇴근길', '거리', '운...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,18,[],"['운동', '저녁', '기분전환']","['힘찬', '밝은']",3,2,0,5
5430,15539,우리의 여름 이 곳에 남을 음악,여름에 만든 추억은 아무리 짧아도 기억에 오래 남는 것 같습니다 그 지점을 지나왔더...,16,"[88098876, 88128339, 88117332, 88114669, 88061...",2575,"['레이블 PICK', '미러볼뮤직', '가요', '인디', '휴식', '휴가/여행...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,5,"['여름', '봄']","['여유', '기분전환']",['편안한'],2,1,2,5

In [28]:
file

'songs_v6_0723.csv'

In [4]:
playlist, song_detail, songs, new_genre = df_list

NameError: name 'df_list' is not defined

In [3]:
songs

NameError: name 'songs' is not defined

In [ ]:
def process_df

song_detail - SONG_ID, INFO_GENRE, LISTNER_CNT

In [80]:
song_detail.head(3)

   Unnamed: 0     SONG_ID  LISTENER_CNT INFO_GENRE  PLAY_CNT  SONG_LIKE
0           0  16523145.0       18519.0    POP / 락  177694.0      162.0
1           1  43329099.0       25762.0    POP / 락  110713.0      166.0
2           2  80738848.0       81872.0    POP / 락  693751.0     1047.0

songs - SONG_TITLE, SONG_ID, ARTIST_NAME, ALBUM_TITLE, RELEASE_DATE

In [81]:
songs.head(3)

,IMG_PATH,SONG_TITLE,SONG_ID,ARTIST_NAME,ARTIST_ID,ALBUM_TITLE,ALBUM_ID,RELEASE_DATE
0,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/01...,To Hell with the Devil (Album Ver.),16523145,Stryper,14941997,To Hell With The Devil,15054519,1986-01-01
1,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/04...,Home Sweet Home,43329099,Motley Crue,14941104,Theatre Of Pain,42561522,1985-06-21
2,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,Livin' On A Prayer,80738848,Bon Jovi,14941051,Slippery When Wet : Special Edition,80144018,2010-05-25

playlist - playlist_id, playlist_songs

In [82]:
playlist.head(3)

,playlist_id,playlist_title,playlist_subtitle,num_of_songs,playlist_songs,playlist_view,playlist_tags,playlist_img_url,playlist_likecount,tag_weather,tag_sit,tag_mood,tag_sit_cnt,tag_mood_cnt,tag_weather_cnt,tag_cnt
0,15541,촉촉히 내리는 비를 보면 나는 슬퍼져,장마철 비를 보며 쓸쓸한 감성에 젖게 만드는 재즈 모음,19,"['102029432', '102131920', '101410050', '91341...",8526,"['레이블 PICK', '유니버설뮤직', '재즈', '카페', '산책', '슬픔',...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,17,['우중충한날'],"['산책', '여유']","['슬픔', '편안한', '사랑']",2,3,1,6
1,15547,바쁜 일상 속 잠깐의 여유,바쁜 일상 속 여유가 필요해 바쁜 일상 속 여유를 느끼고 싶은 순간 마음을 편안하게...,20,"['16108014', '16160262', '16108012', '16108017...",7620,"['레이블 PICK', '지니뮤직', '뉴에이지', '클래식', '휴식', '일/공...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,21,[],"['집중', '여유']",['편안한'],2,1,0,3
2,15549,장마철 물멍하며 듣기 좋은 연주곡 모음,장마철 멍하니 창문 밖을 바라보며 듣기 좋은 연주곡을 모았습니다,20,"['101110530', '102239234', '102128825', '93605...",10348,"['레이블 PICK', '유니버설뮤직', '클래식', 'OST', '휴식', '카페...",https://image.genie.co.kr/Y/IMAGE/Playlist/Cha...,35,['우중충한날'],['여유'],[],1,0,1,2

In [83]:
from collections import Counter

In [2]:
new_genre

NameError: name 'new_genre' is not defined

In [85]:
song_df = pd.merge(song_detail, songs)[['SONG_TITLE','SONG_ID','LISTENER_CNT','INFO_GENRE','ARTIST_NAME','RELEASE_DATE']].drop_duplicates()

In [ ]:
pd.merge(song_df, )

,SONG_TITLE,SONG_ID,LISTENER_CNT,INFO_GENRE,ARTIST_NAME,RELEASE_DATE
0,To Hell with the Devil (Album Ver.),16523145.0,18519.0,POP / 락,Stryper,1986-01-01
1,Home Sweet Home,43329099.0,25762.0,POP / 락,Motley Crue,1985-06-21
2,Livin' On A Prayer,80738848.0,81872.0,POP / 락,Bon Jovi,2010-05-25
3,Jump,16514268.0,11198.0,POP / 락,Van Halen,1984-01-01
4,Crystal Eyes,16561159.0,5106.0,POP / 락,L.A. Guns,1991-01-01
...,...,...,...,...,...,...
146332,Any Time Of Day,101613536.0,550.0,POP / 락,The Lemon Twigs,2023-05-05
146333,Lights Light Up,101228771.0,549.0,POP / 팝,Fenne Lily,2023-04-14
146334,you.,90578135.0,857.0,POP / 락,Oscar Lang,2019-05-08
146335,Closing Time,99800090.0,543.0,OST / 전체,Yehezkel Raz,2019-12-10
146336,Mia & Sebastian's Theme (Celesta),86867115.0,22066.0,OST / 전체,Justin Hurwitz,2016-12-09

In [69]:
dance = song_df[song_df.INFO_GENRE == "가요 / 댄스"].sort_values(by="RELEASE_DATE", ascending=False).drop_duplicates()

In [ ]:
dance

In [67]:
song_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145350 entries, 0 to 145349
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   unnamed: 0    145350 non-null  int64
 1   song_id       145084 non-null  float64
 2   listener_cnt  145078 non-null  float64
 3   info_genre    145090 non-null  object
 4   play_cnt      145078 non-null  float64
 5   song_like     145078 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.7+ MB

In [68]:
song_detail['song_id'].apply(lambda x: str(int(x)))

ValueError: cannot convert float NaN to integer

In [40]:
songs

,IMG_PATH,SONG_TITLE,SONG_ID,ARTIST_NAME,ARTIST_ID,ALBUM_TITLE,ALBUM_ID,RELEASE_DATE
0,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/01...,To Hell with the Devil (Album Ver.),16523145,Stryper,14941997,To Hell With The Devil,15054519,1986-01-01
1,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/04...,Home Sweet Home,43329099,Motley Crue,14941104,Theatre Of Pain,42561522,1985-06-21
2,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,Livin' On A Prayer,80738848,Bon Jovi,14941051,Slippery When Wet : Special Edition,80144018,2010-05-25
3,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,You Give Love A Bad Name,80738847,Bon Jovi,14941051,Slippery When Wet : Special Edition,80144018,2010-05-25
4,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,Wanted Dead Or Alive,80738850,Bon Jovi,14941051,Slippery When Wet : Special Edition,80144018,2010-05-25
...,...,...,...,...,...,...,...,...
144640,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,풍차 (Windmill),88128339,밴드 88,80566461,풍차 (Windmill),81087398,2018-07-25
144641,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,이 노래가,88114669,도재명 & 이선지,80643032,A True Travel,81085131,2018-07-18
144642,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,여름 이별,88061801,biskit!,80593734,여름 이별,81077393,2018-06-26
144643,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,Love Is Something,88075330,조완,80613003,Love Is Something,81079028,2018-06-29
144644,https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/08...,우연,88007728,고래와 정민,80575967,2 (EP),81068884,2018-05-31

In [41]:
genre = pd.read_csv("../../hub/CsvFiles/genre_list.csv")

In [44]:
genre.genre = genre.genre.apply(lambda x: x.strip())

In [46]:
genre.to_csv("genre.csv", index = False)

In [47]:
pd.merge(song_detail, )

        Unnamed: 0     SONG_ID  LISTENER_CNT  INFO_GENRE  PLAY_CNT  SONG_LIKE
0                0  16523145.0       18519.0     POP / 락  177694.0      162.0
1                1  43329099.0       25762.0     POP / 락  110713.0      166.0
2                2  80738848.0       81872.0     POP / 락  693751.0     1047.0
3                3  16514268.0       11198.0     POP / 락   46580.0      148.0
4                4  16561159.0        5106.0     POP / 락   15960.0       29.0
...            ...         ...           ...         ...       ...        ...
145345         126  87731595.0       23531.0  OST / 해외영화  115632.0      235.0
145346         127  16491504.0        7449.0     POP / 락   67363.0      266.0
145347         128  95828542.0       23418.0   J-POP / 팝   92360.0      141.0
145348         129  94018085.0       58755.0     POP / 팝  338836.0      328.0
145349         130  86867115.0       22066.0    OST / 전체   94359.0      107.0

[145350 rows x 6 columns]

In [53]:
song_detail.columns = [col.lower() for col in song_detail.columns]
songs.columns = [col.lower() for col in songs.columns]

In [54]:
merged = pd.merge(songs,song_detail)[['song_id', 'song_title','info_genre', 'listener_cnt', 'artist_name', 'album_title', 'release_date' ]]

In [57]:
m = pd.merge(merged, genre).drop('info_genre', axis = 1)

In [58]:
m.dropna().drop_duplicates().reset_index(drop = True)

,song_id,song_title,listener_cnt,artist_name,album_title,release_date,genre
0,16523145,To Hell with the Devil (Album Ver.),18519.0,Stryper,To Hell With The Devil,1986-01-01,락
1,43329099,Home Sweet Home,25762.0,Motley Crue,Theatre Of Pain,1985-06-21,락
2,80738848,Livin' On A Prayer,81872.0,Bon Jovi,Slippery When Wet : Special Edition,2010-05-25,락
3,80738847,You Give Love A Bad Name,19557.0,Bon Jovi,Slippery When Wet : Special Edition,2010-05-25,락
4,80738850,Wanted Dead Or Alive,1190.0,Bon Jovi,Slippery When Wet : Special Edition,2010-05-25,락
...,...,...,...,...,...,...,...
144442,94275532,보리밭,4797.0,김소현 & 손준호,＜불후의 명곡＞ - 우리 가곡을 노래하다 편,2021-09-11,기타
144443,83316073,"John Dowland : Second Booke Of Songes, 1600 - ...",1352.0,Anthony Rooley,Dowland : The Collected Works (12 CDs),2014-12-31,기타
144444,82504198,Sambre Et Meuse (Remastered),77.0,Pierre Ollivier & Grand Orchestre De Musiques ...,Legion-The Heroes (Remastered),2014-04-29,기타
144445,82407296,진짜 사나이,8855.0,Various Artists,군가및 건전가요 모음집,1996-09-23,기타
144446,86839704,태극 (행진곡),4344.0,Various Artists,군가집 (1978년도),1978-12-09,기타

In [6]:
from src.infer.preprocess import SongPreprocesser

In [7]:
song_processor = SongPreprocesser(False)

In [8]:
playlist, song_info = song_processor.get_dataframes()

In [9]:
playlist

      playlist_id                                     playlist_songs  tag_cnt
0           15541  [102029432, 102131920, 101410050, 91341224, 94...        3
1           15547  [16108014, 16160262, 16108012, 16108017, 88413...        2
2           15549  [101110530, 102239234, 102128825, 93605185, 98...        2
3           15552  [95043993, 89126759, 90384403, 92423790, 91177...        3
4           15554  [87371251, 98719953, 92579798, 87619475, 97822...        3
...           ...                                                ...      ...
5426        15527  [80596220, 102010440, 90672377, 97004799, 8161...        3
5427        15533  [102239234, 102241037, 101918716, 101921487, 1...        2
5428        15535  [100172028, 100549157, 87490055, 102202041, 99...        3
5429        15537  [102132076, 89797104, 97970302, 94548650, 5811...        2
5430        15539  [88098876, 88128339, 88117332, 88114669, 88061...        3

[5431 rows x 3 columns]

In [10]:
song_info

,song_id,song_title,listener_cnt,artist_name,album_title,release_date,genre
0,16523145,To Hell with the Devil (Album Ver.),18519.0,Stryper,To Hell With The Devil,1986-01-01,락
1,43329099,Home Sweet Home,25762.0,Motley Crue,Theatre Of Pain,1985-06-21,락
2,80738848,Livin' On A Prayer,81872.0,Bon Jovi,Slippery When Wet : Special Edition,2010-05-25,락
3,80738847,You Give Love A Bad Name,19557.0,Bon Jovi,Slippery When Wet : Special Edition,2010-05-25,락
4,80738850,Wanted Dead Or Alive,1190.0,Bon Jovi,Slippery When Wet : Special Edition,2010-05-25,락
...,...,...,...,...,...,...,...
144442,94275532,보리밭,4797.0,김소현 & 손준호,＜불후의 명곡＞ - 우리 가곡을 노래하다 편,2021-09-11,기타
144443,83316073,"John Dowland : Second Booke Of Songes, 1600 - ...",1352.0,Anthony Rooley,Dowland : The Collected Works (12 CDs),2014-12-31,기타
144444,82504198,Sambre Et Meuse (Remastered),77.0,Pierre Ollivier & Grand Orchestre De Musiques ...,Legion-The Heroes (Remastered),2014-04-29,기타
144445,82407296,진짜 사나이,8855.0,Various Artists,군가및 건전가요 모음집,1996-09-23,기타
144446,86839704,태극 (행진곡),4344.0,Various Artists,군가집 (1978년도),1978-12-09,기타

In [11]:
import pandas as pd

In [12]:
def result_to_df( id_list, sim_list) -> pd.DataFrame:
    model_result = pd.DataFrame({"playlist_id": id_list, "cos_sim": sim_list})
    model_result = model_result.groupby("playlist_id").agg({"cos_sim": [max, len]}).reset_index()
    model_result.columns = ["playlist_id", "cos_sim", "matched"]
    return model_result

In [13]:
result = result_to_df(id_list, sim_list)

In [20]:
result

   playlist_id  cos_sim  matched
0        12731    0.300        1
1        12734    0.243        1
2        12762    0.450        2
3        12934    0.230        1
4        12982    0.110        1
5        13051    0.670        1
6        13065    0.540        1
7        13128    0.320        1

In [21]:
pl = pd.merge(result, playlist)

In [22]:
pl

,playlist_id,cos_sim,matched,playlist_songs,tag_cnt
0,12731,0.300,1,"[94618083, 95214710, 94341193, 95017909, 94653...",3
1,12734,0.243,1,"[16307738, 82686256, 44115663, 54669731, 89557...",3
2,12762,0.450,2,"[86697873, 87538989, 81159078, 91521153, 91322...",3
3,12934,0.230,1,"[94770837, 87921411, 91125253, 91964441, 87371...",3
4,12982,0.110,1,"[92674597, 93856379, 94680778, 91707239, 91633...",3
5,13051,0.670,1,"[81230210, 16555221, 16396415, 80032377, 53040...",2
6,13065,0.540,1,"[96032196, 83128742, 87309270, 87309860, 81266...",3
7,13128,0.320,1,"[83372425, 83705091, 80672377, 81136284, 81156...",3

In [23]:
pl['matched_rate'] = pl.matched/pl.tag_cnt
pl = pl.drop(['tag_cnt', 'matched'], axis = 1)

In [24]:
pl

,playlist_id,cos_sim,playlist_songs,matched_rate
0,12731,0.300,"[94618083, 95214710, 94341193, 95017909, 94653...",0.333333
1,12734,0.243,"[16307738, 82686256, 44115663, 54669731, 89557...",0.333333
2,12762,0.450,"[86697873, 87538989, 81159078, 91521153, 91322...",0.666667
3,12934,0.230,"[94770837, 87921411, 91125253, 91964441, 87371...",0.333333
4,12982,0.110,"[92674597, 93856379, 94680778, 91707239, 91633...",0.333333
5,13051,0.670,"[81230210, 16555221, 16396415, 80032377, 53040...",0.500000
6,13065,0.540,"[96032196, 83128742, 87309270, 87309860, 81266...",0.333333
7,13128,0.320,"[83372425, 83705091, 80672377, 81136284, 81156...",0.333333

In [25]:
def spread_songs(df: pd.DataFrame) -> pd.DataFrame:
    pl_id = []
    song_id = []
    sim = []
    pl_match = []

    for id in df.playlist_id:
        i, s, song_list, mr = df[df.playlist_id == id].values.flatten()
        for song in song_list:
            pl_id.append(i)
            sim.append(s)
            song_id.append(int(song))
            pl_match.append(mr)
    pl_song = pd.DataFrame({"song_id": song_id, "playlist_id": pl_id, "sim": sim, "pl_match": pl_match})
    return pl_song

In [26]:
pl_song = spread_songs(pl)

In [27]:
pl_song.head(4)

    song_id  playlist_id  sim  pl_match
0  94618083        12731  0.3  0.333333
1  95214710        12731  0.3  0.333333
2  94341193        12731  0.3  0.333333
3  95017909        12731  0.3  0.333333

In [28]:
pl_song.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song_id      197 non-null    int64
 1   playlist_id  197 non-null    int64
 2   sim          197 non-null    float64
 3   pl_match     197 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 6.3 KB

In [59]:
song_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144447 entries, 0 to 144446
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   song_id       144447 non-null  int64
 1   song_title    144447 non-null  object
 2   listener_cnt  144447 non-null  float64
 3   artist_name   144447 non-null  object
 4   album_title   144447 non-null  object
 5   release_date  144447 non-null  object
 6   genre         144447 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 7.7+ MB

In [29]:
pl_song = pd.merge(pl_song, song_info)
pl_song

,song_id,playlist_id,sim,pl_match,song_title,listener_cnt,artist_name,album_title,release_date,genre
0,94618083,12731,0.30,0.333333,Easy On Me,602834.0,Adele,30,2021-11-19,POP
1,95214710,12731,0.30,0.333333,Scenic Drive (Feat. Smino & Ari Lennox),5974.0,Khalid,Scenic Drive,2021-12-03,R&B
2,94341193,12731,0.30,0.333333,For Tonight,65111.0,Giveon,For Tonight,2021-09-24,R&B
3,95017909,12731,0.30,0.333333,lonely christmas (Feat. Justin Bieber & Poo Bear),38489.0,Bryson Tiller,A Different Christmas,2021-11-19,기타
4,94653717,12731,0.30,0.333333,Fall in Love at Christmas,50376.0,Mariah Carey & Khalid & Kirk Franklin,Fall in Love at Christmas (Stereo),2021-11-05,기타
...,...,...,...,...,...,...,...,...,...,...
197,87220064,13128,0.32,0.333333,Holiday / Boulevard Of Broken Dreams (Album Ver.),19395.0,Green Day,American Idiot (Deluxe),2013-12-03,락
198,83500111,13128,0.32,0.333333,Misery Business,2892.0,Paramore,RIOT!,2007-06-11,락
199,83470161,13128,0.32,0.333333,The Fear,1955.0,Lily Allen,The Fear,2009-01-24,POP
200,87220068,13128,0.32,0.333333,Wake Me Up When September Ends (Album Ver.),47514.0,Green Day,American Idiot (Deluxe),2013-12-03,락
201,16425912,13128,0.32,0.333333,Are You Gonna Be My Girl,22131.0,Jet,Get Born,2003-09-15,락

In [31]:
user_genre

['댄스', 'POP', '락']

In [33]:
pl_song['user_genre'] = pl_song['genre'].apply(lambda x: x in user_genre)

In [34]:
pl_song.sort_values

,song_id,playlist_id,sim,pl_match,song_title,listener_cnt,artist_name,album_title,release_date,genre,user_genre
0,94618083,12731,0.30,0.333333,Easy On Me,602834.0,Adele,30,2021-11-19,POP,True
1,95214710,12731,0.30,0.333333,Scenic Drive (Feat. Smino & Ari Lennox),5974.0,Khalid,Scenic Drive,2021-12-03,R&B,False
2,94341193,12731,0.30,0.333333,For Tonight,65111.0,Giveon,For Tonight,2021-09-24,R&B,False
3,95017909,12731,0.30,0.333333,lonely christmas (Feat. Justin Bieber & Poo Bear),38489.0,Bryson Tiller,A Different Christmas,2021-11-19,기타,False
4,94653717,12731,0.30,0.333333,Fall in Love at Christmas,50376.0,Mariah Carey & Khalid & Kirk Franklin,Fall in Love at Christmas (Stereo),2021-11-05,기타,False
...,...,...,...,...,...,...,...,...,...,...,...
197,87220064,13128,0.32,0.333333,Holiday / Boulevard Of Broken Dreams (Album Ver.),19395.0,Green Day,American Idiot (Deluxe),2013-12-03,락,True
198,83500111,13128,0.32,0.333333,Misery Business,2892.0,Paramore,RIOT!,2007-06-11,락,True
199,83470161,13128,0.32,0.333333,The Fear,1955.0,Lily Allen,The Fear,2009-01-24,POP,True
200,87220068,13128,0.32,0.333333,Wake Me Up When September Ends (Album Ver.),47514.0,Green Day,American Idiot (Deluxe),2013-12-03,락,True
201,16425912,13128,0.32,0.333333,Are You Gonna Be My Girl,22131.0,Jet,Get Born,2003-09-15,락,True

In [32]:
for id in pl.playlist_id:
    i, song_list, s, mr = pl[pl.playlist_id == id].values.flatten()
    print(song_list)

0.3
0.243
0.45
0.23
0.11
0.67
0.54
0.32

In [30]:
pl_song = spread_songs(pl)

TypeError: 'float' object is not iterable

In [1]:
from src.infer.song import SongIdExtractor

/opt/conda/envs/back/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
user_genre = ["댄스","POP", "락"]
id_list = [12731, 12734, 12762, 12762, 12934, 12982, 13051, 13065, 13128]
sim_list = [0.3,0.243,0.1243, 0.45,0.23,0.11,0.67,0.54,0.32]

In [3]:
songids = SongIdExtractor(is_data_pull=False,pl_id_list=id_list,sim_list=sim_list,user_genres=user_genre)

In [4]:
info_result = songids.get_sorted_info()

In [5]:
info_result

,song_id,song_title,artist_name,album_title,release_date
0,87538989,Snowman,Sia,Everyday Is Christmas (Snowman Deluxe Edition),2022-12-30
2,81230210,Stronger (What Doesn't Kill You),Kelly Clarkson,Stronger (What Doesn't Kill You),2012-02-06
3,94067923,I GUESS I'M IN LOVE,Clinton Kane,MAYBE SOMEDAY IT'LL ALL BE OK,2022-07-22
5,72992927,Halo,Beyonce,Halo,2009-01-07
6,94618083,Easy On Me,Adele,30,2021-11-19
...,...,...,...,...,...
459,85467584,Collecting Things (Score),Jon Brion,영화 이터널 선샤인 OST (Eternal Sunshine Of The Spotle...,2015-11-17
462,93282509,Christmas Children,Fletcher Sheridan & Dominik Hauser,Scrooge : Music From The Motion Picture,2015-08-28
468,82308130,Before Midnight,Graham Reynolds,"Before Sunrise, Before Sunset, Before Midnight",2014-02-26
491,81221157,Man Or Muppet,Jason Segel & Walter,The Muppets (Original Motion Picture Soundtrack),2011-11-22
494,94542012,The Trouble With Love Is,Kelly Clarkson,Love Actually Soundtrack,2003-09-03

In [9]:
info_result.sort_values(by = "user_genre", ascending=False)

,song_id,playlist_id,sim,pl_match,song_title,listener_cnt,artist_name,album_title,release_date,genre,user_genre
0,94618083,12731,0.300,0.333333,Easy On Me,602834.0,Adele,30,2021-11-19,POP,True
103,16396415,13051,0.670,0.500000,Sk8er Boi,200857.0,Avril Lavigne,Let Go,2002-08-01,락,True
124,16399276,13051,0.670,0.500000,Beautiful,88828.0,Christina Aguilera,Beautiful - Single CD,2003-02-17,POP,True
121,16328998,13051,0.670,0.500000,OOPS!...I DID IT AGAIN,222213.0,Britney Spears,Oops!...I Did It Again (Special),2000-12-01,POP,True
120,16328998,13051,0.670,0.500000,OOPS!...I DID IT AGAIN,222218.0,Britney Spears,Oops!...I Did It Again (Special),2000-12-01,POP,True
...,...,...,...,...,...,...,...,...,...,...,...
39,90516615,12734,0.243,0.333333,I'll Never Love Again (Film Version - Radio Edit),34098.0,Lady Gaga & Bradley Cooper,A Star Is Born Soundtrack (Without Dialogue),2018-10-05,기타,False
115,16673211,13051,0.670,0.500000,Say My Name,90241.0,Destiny's Child,The Writing's On The Wall,1999-07-27,R&B,False
114,16348362,13051,0.670,0.500000,All For You,102309.0,Janet Jackson,All For You,2001-04-24,R&B,False
40,94542012,12734,0.243,0.333333,The Trouble With Love Is,6752.0,Kelly Clarkson,Love Actually Soundtrack,2003-09-03,기타,False
134,72992927,13051,0.670,0.500000,Halo,953847.0,Beyonce,Halo,2009-01-07,R&B,False

In [12]:
by_date = info_result.sort_values(by=["user_genre", "release_date"],ascending=False )
by_pop = info_result.sort_values(by=["user_genre", "listener_cnt"],ascending=False )
by_sim = info_result.sort_values(by=["sim", "listener_cnt"],ascending=False )

In [ ]:
0,3,6
1, 4, 7
2, 5, 8

In [15]:
import pandas as pd

In [22]:
result = pd.DataFrame(columns=info_result.columns)

In [30]:
result_values = [[0]*len(info_result.columns)]*(info_result.shape[0]*3)
result_df = pd.DataFrame(result_values, columns=info_result.columns)

In [41]:
len(result_values)

606

In [44]:
date[-1]

603

In [43]:
pop[-1]

606

In [45]:
n = info_result.shape[0]

In [46]:
date = [i*3 for i in range(n)]
pop = [(i*3)+1 for i in range(n)]
sim = [(i*3)+2 for i in range(n)]

In [48]:
result_df.iloc[date, :] = by_date.reset_index(drop = True)
result_df.iloc[pop, :] = by_pop.reset_index(drop = True)
result_df.iloc[sim, :] = by_sim.reset_index(drop = True)

In [50]:
result_df.drop_duplicates()

,song_id,playlist_id,sim,pl_match,song_title,listener_cnt,artist_name,album_title,release_date,genre,user_genre
0,87538989,12762,0.450,0.666667,Snowman,2796934,Sia,Everyday Is Christmas (Snowman Deluxe Edition),2022-12-30,POP,True
2,81230210,13051,0.670,0.500000,Stronger (What Doesn't Kill You),1490443,Kelly Clarkson,Stronger (What Doesn't Kill You),2012-02-06,POP,True
3,94067923,12731,0.300,0.333333,I GUESS I'M IN LOVE,76163,Clinton Kane,MAYBE SOMEDAY IT'LL ALL BE OK,2022-07-22,POP,True
5,72992927,13051,0.670,0.500000,Halo,953847,Beyonce,Halo,2009-01-07,R&B,False
6,94618083,12731,0.300,0.333333,Easy On Me,602834,Adele,30,2021-11-19,POP,True
...,...,...,...,...,...,...,...,...,...,...,...
459,85467584,12734,0.243,0.333333,Collecting Things (Score),12416,Jon Brion,영화 이터널 선샤인 OST (Eternal Sunshine Of The Spotle...,2015-11-17,기타,False
462,93282509,12734,0.243,0.333333,Christmas Children,3588,Fletcher Sheridan & Dominik Hauser,Scrooge : Music From The Motion Picture,2015-08-28,기타,False
468,82308130,12734,0.243,0.333333,Before Midnight,7258,Graham Reynolds,"Before Sunrise, Before Sunset, Before Midnight",2014-02-26,기타,False
491,81221157,12734,0.243,0.333333,Man Or Muppet,6910,Jason Segel & Walter,The Muppets (Original Motion Picture Soundtrack),2011-11-22,기타,False
494,94542012,12734,0.243,0.333333,The Trouble With Love Is,6752,Kelly Clarkson,Love Actually Soundtrack,2003-09-03,기타,False